<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Socialite</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
